Labs/chapter1/ServiceFromScratch/HelloIndigo/Service References/ServiceReference1/HelloIndigoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloIndigoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/TestService2?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/TestService2?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHelloIndigoService_HelloIndigo_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloIndigo" />
  </wsdl:message>
  <wsdl:message name="IHelloIndigoService_HelloIndigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloIndigoResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="IService2_Hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_Hello2_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello2" />
  </wsdl:message>
  <wsdl:message name="IService2_Hello2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Hello2Response" />
  </wsdl:message>
  <wsdl:portType name="IHelloIndigoService">
    <wsdl:operation name="HelloIndigo">
      <wsdl:input wsam:Action="http://tempuri.org/IHelloIndigoService/HelloIndigo" message="tns:IHelloIndigoService_HelloIndigo_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IHelloIndigoService/HelloIndigoResponse" message="tns:IHelloIndigoService_HelloIndigo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IService2">
    <wsdl:operation name="Hello">
      <wsdl:input wsam:Action="http://tempuri.org/IService2/Hello" message="tns:IService2_Hello_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService2/HelloResponse" message="tns:IService2_Hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hello2">
      <wsdl:input wsam:Action="http://tempuri.org/IService2/Hello2" message="tns:IService2_Hello2_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IService2/Hello2Response" message="tns:IService2_Hello2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHelloIndigoService" type="tns:IHelloIndigoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloIndigo">
      <soap:operation soapAction="http://tempuri.org/IHelloIndigoService/HelloIndigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IService2" type="tns:IService2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Hello">
      <soap:operation soapAction="http://tempuri.org/IService2/Hello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hello2">
      <soap:operation soapAction="http://tempuri.org/IService2/Hello2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloIndigoService">
    <wsdl:port name="BasicHttpBinding_IHelloIndigoService" binding="tns:BasicHttpBinding_IHelloIndigoService">
      <soap:address location="http://localhost:8000/HelloIndigoService" />
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="Service2">
    <wsdl:port name="BasicHttpBinding_IService2" binding="tns:BasicHttpBinding_IService2">
      <soap:address location="http://localhost:8000/TestService2" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>