Labs/chapter2/DataSizeLimitTest/Client/Service References/ServiceReference1/JustAddress1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMyResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyResult" nillable="true" type="tns:MyResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyResult" nillable="true" type="tns:ArrayOfMyResult" />
  <xs:complexType name="MyResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyResult" nillable="true" type="tns:MyResult" />
</xs:schema>