Labs/chapter2/DataSizeLimitTest/Client/Service References/ServiceReference1/JustAddress.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/JustAddress?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyService" />
  <xs:element name="GetResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="GetResultResult" nillable="true" type="q1:ArrayOfMyResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>