Labs/chapter1/ServiceFromScratch/AwsSSLClient/Service References/AuditTrailService/AuditTrailService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.AdCenter.LogStoreWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.AdCenter.LogStoreWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWebServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebServiceResponse" nillable="true" type="tns:WebServiceResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebServiceResponse" nillable="true" type="tns:ArrayOfWebServiceResponse" />
  <xs:complexType name="WebServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="tns:WebServiceResponseCode" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebServiceResponse" nillable="true" type="tns:WebServiceResponse" />
  <xs:simpleType name="WebServiceResponseCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="DATA_ERROR" />
      <xs:enumeration value="INFRASTRUCTURE_ERROR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WebServiceResponseCode" nillable="true" type="tns:WebServiceResponseCode" />
</xs:schema>