Labs/chapter1/ServiceFromScratch/AwsSSLClient/Service References/AuditTrailService/AuditTrailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuditTrailService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1234/AuditTrailService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1234/AuditTrailService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1234/AuditTrailService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:1234/AuditTrailService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microsoft.AdCenter.LogStoreWebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuditTrailService_InsertData_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertData" />
  </wsdl:message>
  <wsdl:message name="IAuditTrailService_InsertData_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAuditTrailService_InsertDataBulk_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDataBulk" />
  </wsdl:message>
  <wsdl:message name="IAuditTrailService_InsertDataBulk_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDataBulkResponse" />
  </wsdl:message>
  <wsdl:message name="IAuditTrailService_InsertDataBulkOneWay_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDataBulkOneWay" />
  </wsdl:message>
  <wsdl:portType name="IAuditTrailService">
    <wsdl:operation name="InsertData">
      <wsdl:input wsam:Action="http://tempuri.org/IAuditTrailService/InsertData" message="tns:IAuditTrailService_InsertData_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IAuditTrailService/InsertDataResponse" message="tns:IAuditTrailService_InsertData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDataBulk">
      <wsdl:input wsam:Action="http://tempuri.org/IAuditTrailService/InsertDataBulk" message="tns:IAuditTrailService_InsertDataBulk_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IAuditTrailService/InsertDataBulkResponse" message="tns:IAuditTrailService_InsertDataBulk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDataBulkOneWay">
      <wsdl:input wsam:Action="http://tempuri.org/IAuditTrailService/InsertDataBulkOneWay" message="tns:IAuditTrailService_InsertDataBulkOneWay_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuditTrailService" type="tns:IAuditTrailService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertData">
      <soap:operation soapAction="http://tempuri.org/IAuditTrailService/InsertData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDataBulk">
      <soap:operation soapAction="http://tempuri.org/IAuditTrailService/InsertDataBulk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDataBulkOneWay">
      <soap:operation soapAction="http://tempuri.org/IAuditTrailService/InsertDataBulkOneWay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuditTrailService">
    <wsdl:port name="BasicHttpBinding_IAuditTrailService" binding="tns:BasicHttpBinding_IAuditTrailService">
      <soap:address location="http://localhost:1234/AuditTrailService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>